# parti individuali
part_A/**
part_B/**
part_C/**
esempi_alex_happy/**
dabroscagay

part_3/language_grammar_old.cf

# file dovuti alla compilazione
__build/*

.vscode/*

part_3/src/test_files/temp/**
part_3/tests/**
part_3/src/bin/**
